html {

    background-image: url(upload-TASS_40727536-pic_32ratio_900x600-900x600-11325.jpg);
    
    background-repeat: no-repeat;
    
    background-position: center center;
    
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    
    -moz-background-size: cover;
    
    -o-background-size: cover;
    
    background-size: cover;
  }